.fightarea{
    display: flex;
    gap: 20px;
}

#char, 
#pokemon{
    flex: 1;
}

.lifebar{
    height: 10px;
    border: 1px solid #333;
}

.lifebar > .bar{
    height: inherit;
    background-color: #F00;
}

.log{
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}